<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Gallery - Fred Keepers</title>
  </head>
  <body>
  <div id="app">
    <div class="banner">
        <h1>Gallery</h1>
        <nav class="navLinks">
          <a class="navLinkChild" href="index.html">HOME</a>
          <a class="navLinkChild" href="resume.html">RESUME</a>
          <a class="navLinkChild" href="hobbies.html">HOBBIES</a>
          <a class="navLinkChild" href="gallery.html">GALLERY</a>
          <a class="navLinkChild" href="projects.html">PROJECTS</a>
          <a class="navLinkChild" href="contact.html">CONTACT ME</a>
        </nav>
    </div>
    <main>
      <div class="galleryGrid">
        <div class="galleryObjects">
          <div class="galleryImages">
            <div v-on:mouseenter="hover1 = true" v-on:mouseleave="hover1 = false">
              <img :src="dogPic1" v-if="!hover1" height="250" width="250" alt="a saint bernard laying down">
              <img :src="dogPic1Old" v-if="hover1" height="250" width="250" alt="a saint bernard puppy laying down">
            </div>
            
          <br><div class="galleryText">Lulu - 2022</div>
        </div>
        </div>

        <div class="galleryObjects">
          <div class="galleryImages">
              <div v-on:mouseenter="hover2 = true" v-on:mouseleave="hover2 = false">
                <img :src="dogPic2" v-if="!hover2" height="250" width="250" alt="An Alaskan Malamute Blue Heeler mix laying on a couch">
                <img :src="dogPic2Old" v-if="hover2" height="250" width="250" alt="An Alaskan Malamute Blue Heeler mix laying on a dog bed">
              </div>
          </div>
          <br><div class="galleryText">Maddie - 2023</div>
        </div>

        <div class="galleryObjects">
          <div class="galleryImages">
            <div v-on:mouseenter="hover3 = true" v-on:mouseleave="hover3 = false">
              <img :src="dogPic3" v-if="!hover3" height="250" width="250" alt="An white lab on a couch">
              <img :src="dogPic3Old" v-if="hover3" height="250" width="250" alt="A white lab sleeping on a couch">
            </div>
          </div>
          <br><div class="galleryText">Aristotle, AKA Stoods - 2023</div>
        </div>

        <div class="galleryObjects">
          <div class="galleryImages">
            <div v-on:mouseenter="hover4 = true" v-on:mouseleave="hover4 = false">
              <img :src="dogPic4" v-if="!hover4" height="250" width="250" alt="A pug aussie sheperard mix sitting on a chair">
              <img :src="dogPic4Old" v-if="hover4" height="250" width="250" alt="A pug aussie sheperard mix laying on his back">
            </div>
          </div>
          <br><div class="galleryText">Winston - 2023</div>
        </div>
    
        <div class="galleryObjects">
          <div v-on:mouseenter="hover5 = true" v-on:mouseleave="hover5 = false">
            <img :src="dogPic5" v-if="!hover5" height="250" width="250" alt="A lab chow chow mix laying on a tile floor on his back">
            <img :src="dogPic5Old" v-if="hover5" height="250" width="250" alt="A lab chow chow mix laying next to a black and white cat">
          </div>
          <br><div class="galleryText">Beau - 2014</div>
        </div>
      </div>
    </main>
    <footer>
        Fred Keepers <br>
        Final Project<br>
        CS601 - Fall O2
    </footer>
  </div>
    <!--Include Vue-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js"></script>
  
    <!--Create Vue instance-->
    <script>
      var app = new Vue({
        el: '#app',
        data: {
            dogPic1: 'images/dogs/luluNew2.png',
            dogPic1Old: 'images/dogs/luluOld.jpeg',
            hover1: false,
            dogPic2: 'images/dogs/maddieNew.png',
            dogPic2Old: 'images/dogs/maddieOld.jpg',
            hover2: false,
            dogPic3: 'images/dogs/stoodleNew.jpg',
            dogPic3Old: 'images/dogs/stoodleOld.png',
            hover3: false,
            dogPic4: 'images/dogs/winston.png',
            dogPic4Old: 'images/dogs/winstonOld.png',
            hover4: false,
            dogPic5: 'images/dogs/beauNew.png',
            dogPic5Old: 'images/dogs/beauOld.png',
            hover5: false,
            },
          })
          console.log(Vue)
    </script>
</body>
</html>